h1 Solarized Cheat Sheet
h2 Colors by Ethan Schoonover
h4 The color is in the backround if it is boxed.

div.box-lg.base3bg
  for _color in public._data.colors
    if _color.see
      p(class="#{_color.class} cdisplay") #{_color.name}: #{_color.hex}
    else
        p(class="#{_color.bgclass} cdisplay csdisplay") #{_color.name}: #{_color.hex}
